.design {
color:#4D5AE5;
font-family: Raleway,sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.54px;
text-transform: uppercase;
margin-right: 76px;
}
.studio {
font-size: 18px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0.03em;
text-align: left;
color:#2E2F42;
}
    
body {
background-color:#FFFFFF;
color:#434455 ;
font-family: Roboto,sans-serif;
}
.portfolio {
color:#2E2F42;
text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11; 
letter-spacing: 0.72px;
text-transform: capitalize;
 }
.three-section {
background-color:#F4F4FD ;
}
.classes {
background-color: #FFFFFF
}

 .footer {
background-color:#2e2f42 ;
}
.bottom-studio {
color:#F4F4FD;
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 21px;
letter-spacing: 0.54px;
text-transform: uppercase;
 }
.increase {
color:#F4F4FD;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.32px;
 }

.effective{
color:#FFF;
text-align: center;
font-family: Roboto;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 60px;
letter-spacing: 1.12px;
line-height: 1.07;
}
.section-first {
background-color:#2e2f42;
}
address {
font-style: normal;
}

.section-two {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:#2e2f42;
}
.par-sect-two {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:#434455;
}
.button-first {
background-color: #4D5AE5;
font-family: Roboto,sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
cursor: pointer;
}
.section-first .button-first:hover,
.section-first .button-first:focus {
background-color: #404BBF;
}
.first-li .first-elem,
.first-li .first-elem {
color: #404bbf;
}

.four-sect {
color:#2E2F42;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.4px;
}
.four-par {
color:#434455;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.32px;
}
.sect-four {
background-color: #F4F4FD;
}
.four-sect-li {
background-color: #FFFFFF;
}
.color-first-li {
color:#2e2f42;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
padding: 24px 0;
}
.first-li .color-first-li:hover,
.first-li .color-first-li:focus {
color: #404bbf;
}
.from-address {
font-style: normal;
}
.our-team {
background-color: #F4F4FD;
}
.first-li-team {
background-color: #FFFFFF;
}
.first-team {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.first-pteam {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
.email {
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.from-nav {
color:#434455;
}
.from-nav:hover,
.from-nav:focus { 
color: #404bbf;
}
img {
display: block;
}
.from-header {
border-bottom: 1px solid #e7e9fc;
}
.container {
display: flex;
width: 1158px;
margin: 0 auto;
padding: 0 15px 0 15px;
}
.nav-header {
display: flex;
align-items: center;
}
.first-li {
display: flex;
gap: 40px;
}
.adress-info {
display: flex;
gap: 40px;
}