.design {
color:#4D5AE5;
font-family: Raleway,sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.54px;
text-transform: uppercase;
margin-right: 76px;
display: inline-block;
margin-bottom: 16px;
}
.studio {
font-size: 18px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0.03em;
text-align: left;
color:#2E2F42;
}
    
body {
background-color:#FFFFFF;
color:#434455 ;
font-family: Roboto,sans-serif;
}
.portfolio {
color:#2E2F42;
text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11; 
letter-spacing: 0.72px;
text-transform: capitalize;
margin-bottom: 72px;
}
.three-section {
background-color:#F4F4FD ;
}
.classes {
background-color: #FFFFFF
}

 .footer {
background-color:#2e2f42 ;
padding: 100px 0;
}
.bottom-studio {
color:#F4F4FD;
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 21px;
letter-spacing: 0.54px;
text-transform: uppercase;
 }
.increase {
color:#F4F4FD;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.32px;
 }

.effective{
color:#FFF;
text-align: center;
font-family: Roboto;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 60px;
letter-spacing: 1.12px;
line-height: 1.07;
max-width: 496px;
margin: auto;
}
.section-first {
background-color:#2e2f42;
padding: 188px 0;
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(../images/img-name.jpeg);;
max-width: 1440px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
address {
font-style: normal;
}

.section-two {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:#2e2f42;
margin-bottom: 8px;
}
.par-sect-two {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:#434455;
}
.button-first {
background-color: #4D5AE5;
font-family: Roboto,sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
cursor: pointer;
display: block;
min-width: 169px;
height: 56px;
border: none;
background-color: #4D5AE5;
border-radius: 4px;
margin: auto;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-first .button-first:hover,
.section-first .button-first:focus {
background-color: #404BBF;
}
.first-li .first-elem,
.first-li .first-elem {
color: #404bbf;
}

.four-sect {
color:#2E2F42;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.4px;
}
.four-par {
color:#434455;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.32px;
}
.sect-four {
background-color: #F4F4FD;
padding-top: 120px;
padding-bottom: 120px;
}
.four-sect-li {
background-color: #FFFFFF;
width: calc((100% - 48px) / 3);
}
.color-first-li {
color:#2e2f42;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
padding: 24px 0;
}
.first-li .color-first-li:hover,
.first-li .color-first-li:focus {
color: #404bbf;
}
.from-address {
font-style: normal;
}
.our-team {
background-color: #F4F4FD;
padding: 120px 0;
}
.first-li-team {
background-color: #FFFFFF;
width: calc((100% - 3 * 24px)/4);
border-radius: 0px 0px 4px 4px;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);;
}
.first-team {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
text-align: center;
margin-bottom: 8px;
}
.first-pteam {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
}
.email {
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.from-nav {
color:#434455;
}
.from-nav:hover,
.from-nav:focus { 
color: #404bbf;
}
img {
display: block;
}
.from-header {
border-bottom: 1px solid #e7e9fc;
box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08),0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container {
width: 1158px;
margin: 0 auto;
padding: 0 15px 0 15px;
}
.nav-header {
align-items: center;
display: flex;
}
.first-li {
display: flex;
gap: 40px;
}
.adress-info {
display: flex;
gap: 40px;
}
.div-container {
display: flex;
}
.section-number-two {
padding: 120px 0;
}
.ul-number-two {
display: flex;
gap: 24px;
}
.li-number-one {
flex-basis: calc((100%-3*24px)/4);
}
.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}
.ul-number-three {
display: flex;
gap: 24px;
}
.div-our-team {
padding: 32px 0;
}
ul {
margin: 0;
padding-left: 0;
list-style: none;
}
.ul-number-four {
display: flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;
}
.div-number-four {
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
}
.div-antenna {
display: flex;
align-items: center;
justify-content: center;
height: 112px;
background-color: #f4f4fd;
border-radius: 4px;
margin-bottom: 8px;
}
.logotype-icon {
width: 64px;
height: 64px;
}

