.design {
color:#4D5AE5;
font-family: Raleway,sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.54px;
text-transform: uppercase;
}
.studio {
font-size: 18px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0.03em;
text-align: left;
color:#2E2F42;
}
    
body {
background-color:#FFFFFF;
color:#434455 ;
font-family: Roboto,sans-serif;
}
.portfolio {
color:#2E2F42;
text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11; 
letter-spacing: 0.72px;
text-transform: capitalize;
 }
.three-section {
background-color:#F4F4FD ;
}
.classes {
background-color: #FFFFFF
}

 .footer {
background-color:#2e2f42 ;
}
.bottom-studio {
color:#F4F4FD;
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 21px;
letter-spacing: 0.54px;
text-transform: uppercase;
 }
.increase {
color:#F4F4FD;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.32px;
    }
.first-elem {
color:#2E2F42;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.32px;
}
.effective{
color:#FFF;
text-align: center;
font-family: Roboto;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 60px;
letter-spacing: 1.12px;
line-height: 1.07;
}
.section-first {
background-color:#2e2f42;
}
address {
font-style: normal;
}

.section-two {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:#2e2f42;
}
.par-sect-two {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:#434455;
}
.button-first {
background-color: #4D5AE5;
font-family: Roboto,sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
cursor: pointer;
}
.section-first .button-first:hover,
.section-first .button-first:focus {
background-color: #404BBF;
}
.section-three {
background-color: #F4F4FD;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
}
.first-li .first-elem,
.first-li .first-elem {
color: #404bbf;
}
.three-section {
background-color: #F4F4FD;
}
.four-sect {
color:#2E2F42;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.4px;
}
.four-par {
color:#434455;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.32px;
}