/* ONLY MOBILE */
@media screen and (max-width: 767px) {
    .menu {
        display: none;
    }
    .from-address {
        display: none;
}
.section-two {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.div-antenna {
    display: none;
}
.info-two-sect {
color: var(--SLATE, #434455);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.32px;
padding-top: 8px;
padding-bottom: 72px;
text-align: center;
padding-left: 16px;
padding-right: 16px;
}
.ul-number-two {
    display: inline-block;
}
.first-li-team {
    background-color: #fff;
    margin: 0 auto;
    width: 264px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    margin-bottom: 72px;
}
.first-team {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.5;
    margin-bottom: 8px;
}
.section-two-two {
    color: var(--NAVY-BLUE, #2E2F42);

/* Header 3 */
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 120% */
letter-spacing: 0.4px;
}
.div-number-four {
    display: flex;
padding: 0px 16px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 8px;
align-self: stretch;
}
.four-sect-li:not(:last-child) {
    margin-bottom: 48px;
    }
    .class-from-footer-link {
        color: var(--IRIS, #4D5AE5);
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0.3;
        text-transform: uppercase;
    }
    .increase {
        color:#f4f4fd;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.02em;
        line-height: 1.5;
        width: 288px;
        padding-top: 17.5px;
        padding-bottom: 72px;
    }
    .par-footer {
color: #FFF;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5em;
letter-spacing: 0.02em;
margin-left: 102px;
    }

    .footer-social-media {
        margin-bottom: 72px;
    }
    .container {
        max-width: 320px;
    }
    .ul-footer {
        display: flex;
        gap: 16px;
        align-items: center;
        margin-left: 56px;
    }
    .p-modal {
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
        text-align: center;
    }
    .name-modal {
        border-radius: 4px;
        border: 1px solid #fff;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        height: 40px;
        background-color: transparent;
        padding-left: 16px;
        width: 288px;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        color: #ffffff;
        margin-bottom: 16px;
    }
    .form-button {
        display: flex;
        margin-left: 24px;
        border-radius: 4px;
        background-color: #4d5ae5;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        height: 40px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        min-width: 165px;
        border: none;
        margin-left: 77px;
        margin-right: 78px;
        margin-top: 16px;
        margin-bottom: 96px;
    }
    .div-footer {
        display: flex;
         flex-direction: column;
    }
    .design {
        color: var(--IRIS, #4D5AE5);
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0.3;
        text-transform: uppercase;
        margin-left: 102px;
    }
    .form-modal {
        display: flex;
    }

    }



.first-li {
    display: none;
}
.div-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.design {
    color: var(--IRIS, #4D5AE5);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.studio {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.from-header {
    padding-top: 17.5px;
    padding-bottom: 17.5px;
    padding-left: 16px;
}
.open-mobile-menu-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: 16px;
    stroke: var(--primary-color);
}
.open-mobile-menu-btn {
    stroke: #2F2F37;
}

.mobile-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #FFF;
    z-index: 99999999;
    transform: translateX(100%);
    transition: transform 250ms ease-out;
}
.mobile-menu.is-open {
    transform: translateX(0%);
}
.mobile-menu-close-btn {
    border: none;
    position: absolute;
    top: 32px;
    right: 32px;
    background-color: transparent;
    padding: 0;
    line-height: 0;
}
.mobile-menu-close-icon {
    stroke: var(--secondary-color);
}
.open-mobile-menu-btn:hover
.open-mobile-menu-btn:focus {
    stroke: var(--accent-color);
}

.open-mobile-menu-icon {
    transition: stroke 250ms ease-out;
}
/* FOR TABLET */
@media screen and (min-width: 768px) {
    .open-mobile-menu-btn {
        display: none;
    }
    .class-from-footer-link {
        color: var(--IRIS, #4D5AE5);
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0.3;
        text-transform: uppercase;
    }
    
    .portfolio {
padding-top: 96px;
    }
    .container {
        max-width: 584px;
    }
    .first-li {
color: var(--NAVY-BLUE, #2E2F42);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; 
letter-spacing: 0.32px;
gap: 40px;
display: flex;
padding-left: 120px;
    }
    .first-li:hover,
    .first-li:focus {
        color: var(--OCEAN, #404BBF);
    }
    .from-address {
        color: var(--SLATE, #434455);

        /* Small Text */
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px; 
        letter-spacing: 0.48px;
        padding-right: 16px;
}
.adress-info {
    display:flex;
    flex-direction: column;
    gap: 12px;
}
    .from-header {
        padding-top: 25.5px;
        padding-bottom: 25.5px;
        padding-left: 16px;
    }
    .from-nav {
color: var(--SLATE, #434455);
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 14px;
letter-spacing: 0.48px;
margin-right: 16px;
    }
    .nav-header {
        display: flex;
        align-items: center;
    }   
    .div-antenna {
        display: none;
    }
    .ul-number-three {
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
        }

.first-li-team {
width: calc((100% - 24px) /2);
border-radius: 0px 0px 4px 4px;
background: var(--WHITE, #FFF);
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.ul-number-four {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    }
    
    .four-sect-li {
        width: calc((100% - 24px)/2);
    }
    .portfolio {
        padding-top: 96px;
    }
    .design {
        width: 44px;
        color: var(--IRIS, #4D5AE5);
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 21px; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
    }
    .increase {
        margin-top: 17.5px;
    }
    .main-footer-container {
        display: flex;
         flex-direction: row;
          flex-wrap: wrap;
           gap: 72px 24px;
           width: 584px;
    }
}
.modal-window-mobile-phone {
color: var(--NAVY-BLUE, #2E2F42);
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.72px;
text-transform: capitalize;
margin-left: 16px;
margin-top: 40px;
text-decoration: none;
}
.modal-window-mobile-phone:hover
.modal-window-mobile-phone:focus {
color: var(--OCEAN, #404BBF);
}
.color-first-li {
    position: relative;
}
.mobile-li {
margin-left: 16px;
margin-top: 72px;
display: flex;
flex-direction: column;
gap: 40px;
}
.mobile-nav-telephone {
    display:inline-block;
    text-decoration-color: #434455;
    text-decoration: none;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    margin-left: 16px;
    margin-top: 168px;
    margin-right: 111px;
}
.email-mobile-phone:hover,
.email-mobile-phone:focus {
    color: var(--IRIS, #4D5AE5);
}
.ul-modal-mobile {
    display: flex;
    gap: 40px;
    margin-top: 48px;
    margin-left: 16px;
    }
.link-footer {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.click-footer {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
    }
    .click-footer:hover {
    background-color: #31d0aa;
    }
    .click-footer:focus {
    background-color: #31d0aa;
    }
    /* FOR LAPTOP */
    @media screen and (min-width: 1158px) {
        .first-li {
        padding-left: 76px;
        }
        .class-from-footer-link {
            color: var(--IRIS, #4D5AE5);
            font-family: Raleway;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 21px;
            letter-spacing: 0.3;
            text-transform: uppercase;
        }
        .adress-info {
            display: flex;
            flex-direction: row;
            padding-right: 156px;
            gap: 40px;
        }
        .design {
            padding-top: 25.5px;
            padding-bottom: 25.5px;
        } 
        .div-antenna {
            display: flex;
        }
        .section-two {
            display: flex;
        }
        .section-two {
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color:#2e2f42;
            margin-bottom: 8px;
            }
            .info-two-sect {
            color: var(--SLATE, #434455);
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.32px;
            }
            .section-number-two {
                padding: 120px 0;
                }
                .ul-number-two {
                    display: flex;
                    gap: 24px;
                    flex-wrap: nowrap;
                    }
                    .li-number-one {
                    flex-basis: calc((100%-3*24px)/4);
                    width: calc((100% - 72px)/ 4);
                    }
                    .visually-hidden {
                        position: absolute;
                        width: 1px;
                        height: 1px;
                        margin: -1px;
                        border: 0;
                        padding: 0;
                        white-space: nowrap;
                        clip-path: inset(100%);
                        clip: rect(0 0 0 0);
                        overflow: hidden;
                        }
                        .div-antenna {
                            display: flex;
                        }
                        .container {
                            max-width: 1158px;
                            padding-left: 15px;
                            padding-right: 15px;
                        }
                        .first-li-team {
                            background-color: #FFFFFF;
                            width: calc((100% - 3 * 24px)/4);
                            border-radius: 0px 0px 4px 4px;
                            box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
                            gap: 24px;
                            }
                            .four-sect-li {
                                width: calc((100% - 48px)/3);
                            }
                            
                            }
                            

/* .from-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08),0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
    align-items: baseline;
}
.nav-header {
    align-items: center;
    display: flex;
}
.first-li {
    display: flex;
    gap: 40px;
}
.adress-info {
    display: flex;
    gap: 40px;
}
.div-container {
    display: flex;
}
.design {
    color:#4D5AE5;
    font-family: Raleway,sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin-right: 76px;
    display: inline-block;
}
.from-nav {
    color:#434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}
.email {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.current {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    } */