.design {
color:#4D5AE5;
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17px;
letter-spacing: 0.54px;
text-transform: uppercase;
}
.studio {
font-size: 18px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0.03em;
text-align: left;
color:#2E2F42;
}

body {
background-color:#FFFFFF;
color:#434455 ;
}
.portfolio {
 color:#2E2F42;
 text-align: center;
 font-family: Roboto;
 font-size: 36px;
 font-style: normal;
 font-weight: 700;
 line-height: 1.11;
 letter-spacing: 0.72px;
 text-transform: capitalize;
}
.three-section {
 background-color:#F4F4FD ;
}
.classes {
background-color: #FFFFFF
}
.styles-body {
font-family: Roboto;
}
.footer {
background-color:#2e2f42 ;
}
.bottom-studio {
    color:#F4F4FD;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.increase {
color:#F4F4FD;
}